

<% if @current_user %>

<h1>Add Destination</h1>
<%= form_with model: @place do |form| %>

<div class="mb-3">
<%= form.label "name", class: "form-label" %>
<%= form.text_field "name", class: "form-control" %>
<%= form.submit "Add Destination", class: "btn btn-success" %>
<% end %>

<% else %>
Log in to add.
<% end %>

</div>
